!!! 5
html
  head
    // CSS: implied media="all"
    link(href="/css/style.css", media="all", rel="stylesheet" )/

  body
    div#content
  
        ul(id= "wall-" + wall.id).wall
          if wall.cards.length > 0
            each card in wall.cards
              li(id= card.id, class= "card", style= "top:"+card.position.top+"px; left: "+card.position.left+"px;")
                textarea= card.text
        
        p <a id="newCard" href="#">+</a> Cards below are private; Cards above are public. Drag cards from below to above to share. (<a href="#" id="reconnect">reconnect</a>)

        ul#hand
      


    // Scripts at the bottom
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" )
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" )
    script(src="/js/lib/jquery.ui.touch-punch.js" )
    script(src="/js/lib/push-it.js" )
    script(src="/js/lib/sockjs.min.js" )
    script(src="/js/scripts.js" )